@tailwind base;
@tailwind components;
@tailwind utilities;

/* calendar */

.fc-button {
  background-color: transparent !important;
  border: transparent !important;
  color: black !important;
}

.fc-toolbar-title {
  font-size: 18px !important;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.fc-toolbar-chunk {
  display: flex;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* 전체 애플리케이션에서 사용하기 위한 기본 폰트 설정 */
body {
  font-family: "Pretendard-Regular", sans-serif; /* 기본 폰트 설정 */
}
