@tailwind base;
@tailwind components;
@tailwind utilities;

/* calendar */

/* :root { */
/* --fc-border-color: "#f5f6f7" !important; */
/* } */

.fc-toolbar-title {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.fc-toolbar-chunk {
  display: flex;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.5rem !important;
}

.fc-button {
  border: transparent !important;
  color: black !important;
}

.fc .fc-daygrid-event {
  display: flex !important;
  align-items: center !important;
}

.fc-daygrid-day-top {
  display: flex;
  justify-content: center;
}

.fc .fc-daygrid-day-number {
  color: #7c7f86; /*gray-600*/
}

.fc th {
  margin-bottom: 16px;
  color: #7c7f86; /*gray-600*/
}

@media screen and (min-width: 414px) {
  :root {
    --fc-button-bg-color: "#f5f6f7";
  }
  .fc-toolbar-title {
    font-size: 18px !important;
  }

  .fc-button {
    background-color: transparent !important;
  }

  .fc-daygrid-day-frame .fc-scrollgrid-sync-inner {
    min-height: 122px;
  }

  .fc-event-title {
    font-size: 0.8rem;
  }

  .fc-daygrid-events {
    min-height: 90px;
  }
}

@media screen and (max-width: 414px) {
  :root {
    --fc-daygrid-event-dot-width: 6px;
    --fc-button-bg-color: "#f5f6f7";
  }
  .fc th {
    font-size: 12px;
  }

  .fc-toolbar-title {
    font-size: 12px !important;
  }

  .fc-button {
    padding: 0 0.65em;
  }

  .fc .fc-button .fc-icon {
    font-size: 1rem;
  }

  .fc-daygrid-day-frame {
    min-height: 44px;
  }
  .fc-daygrid-day-events {
    display: flex;
    justify-content: center;
    margin: 0px !important;
  }

  .fc .fc-daygrid-event-harness {
    display: flex;
    justify-content: center;
  }
  .fc-direction-ltr .fc-daygrid-event .fc-event-start {
    margin-left: 0px !important;
    width: 8px;
  }
  .fc-direction-ltr .fc-daygrid-event .fc-event-end {
    margin-right: 0px !important;
    width: 8px;
  }
  .fc-daygrid-event-dot {
    margin: 0px !important;
  }
  .fc-event-title {
    display: none !important;
  }
  .fc .fc-daygrid-day-number {
    font-size: 12px;
  }
  .fc-daygrid-dot-event {
    align-items: normal !important;
    padding: 8px 0 !important;
  }
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* 전체 애플리케이션에서 사용하기 위한 기본 폰트 설정 */
body {
  font-family: "Pretendard-Regular", sans-serif; /* 기본 폰트 설정 */
}
